.skillsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 8px solid #B35C0B;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Gotham Medium Regular";
  }
  
  @media screen and (max-width: 515px) {
    font-size: 11px;
    width: 50px;
    height: 50px;
    border: 5px solid #B35C0B;
  }
}