.links {
  
  ul {
    display: flex;
    padding-bottom: 50px;

    li {
        margin: 0 15px;

      a {
        color: #33373d;
      }

      a:hover {
        color: #B35C0B;
        cursor: pointer;
      }
    }
  }
}