.project {
  width: 487px;
  margin: 0 auto;
  position: relative;
  padding: 15px 0;

  @media screen and (max-width: 515px) {
    width: 80%;
  }

  .image {
    height: 100%;
    max-height: 257px;
    box-shadow: 0px 3px 10px 0px #223c5033;

    img {
      width: 100%;
      height: 257px;

      @media screen and (max-width: 515px) {
        height: auto;
      }
    }
  }

  .name {
    position: absolute;
    height: 80px;
    width: 180px;
    bottom: 30px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;

    @media screen and (max-width: 515px) {
      height: 65px;
      width: 150px;
    }

    h2 {
      text-align: center;
      color: #B35C0B;
      font-family: "Gotham Bold";
      font-size: 22px;

      @media screen and (max-width: 515px) {
        font-size: 17px;
      }
    }

    p {
      font-family: "Open Sans Regular";
      color: #000;
      padding: 0;

      @media screen and (max-width: 515px) {
        font-size: 13px;
      }
    }
  }

  .info {
    overflow: hidden;
    height: 0;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Open Sans Regular";
      margin: 15px 0;
      text-align: center;

      @media screen and (max-width: 515px) {
        margin: 0 0 5px 0;
        font-size: 10px;
        line-height: 17px;
      }
    }
  
    a {
      width: 100px;
      padding: 10px 15px;
      font-size: 20px;
      text-align: center;
      font-family: "Gotham Bold";
      text-decoration: none;
      color: #fff;
      background: #B35C0B;

      @media screen and (max-width: 515px) {
        padding: 3px 0;
        font-size: 15px;
      }
    }
  }

  &:hover .info {
    animation:
      showHeight 0.3s forwards,
      showOpacity 2s forwards;
  }

  &:hover .name {
    width: calc(100% - 30px);
    height: calc(100% - 60px);
  }
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4s;
  }
  80% {
    opacity: 0.8s;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showHeight {
  0% {
    height: 0px;
  }
  99% {
    height: 0px;
  }
  100% {
    height: max-content;
  }
}