body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #b05c0c03 0%, #b05c0c66 100%);
  position: relative;

  @media screen and (max-width: 1300px) {
    background: #ECD5C5;
  }
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  @media screen and (max-width: 1300px) {
    height: 100%;
  }

  @media screen and (max-width: 515px) {
    padding: 0 10px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;

  @media screen and (max-width: 1300px) {
    max-width: 500px;
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    transform: translate(0, 0);
    margin: 0 auto;
    display: block;
  }

  @media screen and (max-width: 973px) {
    padding-top: 75px;
    }
}
