body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-top: 25px;
}

.header {
  background: #fdfb6b;
}

.header img {
  height: 100%;
}

.nav {
  background: #ced6f7;
}

/* .content {
  background: #cef7f0;
} */

.content img {
  height: 80%;
  width: 100%;
}