body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #b05c0c03 0%, #b05c0c66 100%);
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
