.content {
  font-family: "Open Sans Regular";
  font-size: 15px;
  line-height: 27px;
  margin: 40px 0 0 30px;

  p {
    color: #B35C0B;
  }

  span {
    color: #615e5e;
  }

  @media screen and (max-width: 430px) {
    margin: 40px 30px 0 30px;
  }
}

.certificate {
  display: inline-block;
  font-family: "Gotham Medium Regular";
  margin: 30px 0 10px 30px;

  .certificateFile {
    color: #B35C0B;
    background: #fff;
    padding: 7px 20px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .certificateFile:hover {
    cursor: pointer;
    background: #B35C0B;
    color: #fff;
    border: 1px solid #B35C0B;
  }
}